body {
    background-color: var(--main-background-color) !important;
    width: 100vw;
    height: 100vh;
    padding-top: 111px !important;
    display: flex;
    overflow: hidden;
}

span {
    padding: 0px;
    display: block;
}

.main-section {
    margin-left: 256px;
    width: 100%;
}

.contentAddTask {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.input-filds,
#add-contacts-add-tasks {
    width: 334px;
}

.grey-line {
    height: 312px;
    width: 1px;
    background-color: black;
}

.task-area {
    display: flex;
}

#dropdownMenu {
    border: 1px solid var(--text-color);
    border-top: none;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 75 !important;
    display: flex;
    position: absolute;
    width: 100%;
    margin-top: -10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2), -2px 2px 2px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 10px 10px;
}

#categoryAreaV1 {
    z-index: 20;
}

input.with-image {
    padding-right: 30px;
    background: url('../img/kalenderJoin.svg') no-repeat right center !important;
    background-size: 20px 20px !important;
    background-position: calc(100% - 10px) center !important;
}

.dropdown-item {
    display: flex !important;
    align-items: center !important;
    justify-content: space-between !important;
    padding: 0 5px !important;
}

.color-box {
    border-radius: 50%;
    height: 15px;
    width: 15px;
}

#dialog-window {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#dialog {
    z-index: 999;
    position: absolute;
    top: 20%;
    left: calc(5% + 200px);
    right: 5%;
    bottom: 20%;
    display: flex;
    justify-content: center;
}

.dialog-left {
    background-color: var(--main-color);
    height: 100%;
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dialog-right {
    background-color: var(--border-grey);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#color-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
}

.box-left {
    padding-right: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.box-right {
    padding-left: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.prio-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D1D1D1;
    box-shadow: 1px 1px 5px 1px #D1D1D1;
    border-radius: 10px;
    height: 31px;
    width: 100px;
    gap: 10px;
    background-color: #FFF;
    color: #000 !important;
}

input {
    border-radius: 5px;
    border: none;
    background: #FFF !important;
    width: 100%;
    padding: 10px;
    outline: none;
}

#AssignedTo {
    max-height: 100px;
    overflow: auto;
}

.input-filds {
    padding: 5px;
    display: flex;
    background-color: #FFF;
    height: 100px;
    width: 334px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.input-filed {
    position: relative;
    padding: 5px;
    display: flex;
    background-color: #FFF;
    height: 32px;
    width: 100%;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
}

.addNewContactButton {
    width: 352px;
    height: 56px !important;
    padding: 0 !important;
    gap: 16px;
    width: 100%;
    padding-bottom: 20px;
}

.btnBackground {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.cancel-btn {
    width: 140px;
    background-color: white !important;
    color: #000;
    border: 1px solid#000;
    height: 56px !important;
    border-radius: 10px;
}

.cancel-btn:hover {
    color: var(--headline);
    border: 1px solid var(--headline);
    height: 56px !important;
    border-radius: 10px;
}

.add-contact-btn {
    width: 200px;
}

.addNewContactButton {
    width: 352px;
    height: 56px !important;
    padding: 0 !important;
    gap: 16px;
    width: 100%;
    padding-bottom: 20px;
}

.createContactButton,
.addNewContactButton {
    background: #2A3647 !important;
    color: white;
    border: none;
    border-radius: 10px;
}

.addNewContactButton:hover {
    background: #29ABE2 !important;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.contentPosition {
    flex-grow: 1;
    display: flex;
}

.prios-container {
    display: flex;
    gap: 16px;
}

.width100px {
    position: relative;
    width: 100%;
}

.subtasks-addet {
    z-index: 50;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 50px;
    overflow: auto;
}

.subtask-list {
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.subtask-listImg {
    display: none;
}

.dropdown-button {
    margin: 0 1%;
    width: 98%;
    background: #2A3647 !important;
    color: white;
    border: none;
    border-radius: 10px;
}

.dropdown-button:hover {
    background-color: var(--headline) !important;
}

#contactsId {
    height: 203px;
    overflow: auto;
    width: 100%;
}

.profilbuild {
    border-radius: 50%;
    border: 1px solid black;
    color: black;
    padding: 4px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

.input-filds:focus,
.focus,
.input-filed:focus-within {
    border: 1px solid var(--headline) !important;
    outline: none !important;
    border-radius: 10px;
}


/* Media Queries */

@media (max-width: 1000px) {
    .main-section {
        margin-left: 210px;
    }
    .prio-btn {
        width: 85px;
    }
    .input-filds,
    #add-contacts-add-tasks {
        width: 300px;
    }
    .prios-container {
        gap: 10px;
    }
}

@media(max-width:825px) {
    .input-filds,
    #add-contacts-add-tasks {
        width: 220px;
    }
}

@media(max-width:750px) {
    .box-right {
        padding-right: 5px;
    }
    .input-filds,
    #add-contacts-add-tasks {
        width: 225px;
    }
    .prio-btn {
        width: 75px;
        gap: 2px;
    }
    .prios-container {
        gap: 6px;
    }
}

@media(max-width:700px) {
    body {
        padding-top: 57px !important;
        display: flex;
        justify-content: center;
        height: calc(100vh - 80px);
    }
    .box-right {
        padding-left: 0;
    }
    .main-section {
        margin-left: 0;
        padding: 8px;
    }
    .grey-line {
        display: none;
    }
    .task-area,
    .contentAddTask,
    .box-left,
    .dialog-right {
        flex-direction: column;
        align-items: center;
    }
    .box-left,
    .box-right {
        padding-right: 0;
    }
    #dialog {
        position: absolute;
        top: 2px;
        left: 4px;
        right: 2px;
        bottom: 4px;
        border-radius: 16px;
    }
    .prio-btn,
    .add-contact-btn,
    .cancel-btn,
    .dropdown-button {
        width: 100%;
    }
    .input-filds,
    .input-filed,
    #add-contacts-add-tasks {
        width: 100%;
        height: auto;
    }
    .addNewContactButton,
    .createContactButton {
        width: 100%;
        padding: 0;
    }
    .btnBackground {
        position: static;
        padding-bottom: 0;
    }
    .prios-container,
    #color-container {
        gap: 10px;
    }
    .subtasks-addet {
        max-height: none;
    }
    .profilbuild {
        width: 25px;
        height: 25px;
    }
    .contentPosition,
    .subtask-list,
    #contactsId {
        flex-grow: 1;
    }
    .task-area,
    .box-left,
    .column,
    .titel-input,
    #addTaskPage,
    .box-right {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .prio-btn {
        gap: 5px;
        padding: 5px;
    }
    span,
    .dropdown-item {
        padding: 5px;
    }
    .input-filds,
    .input-filed {
        padding: 10px;
    }
    .dialog-right,
    .dialog-left {
        padding: 10px;
    }
    .main-section {
        overflow-y: scroll;
    }
}

@media (max-width: 376px) {
    .main-section,
    .contentAddTask {
        padding: 0;
    }
    .btnBackground {
        margin-bottom: 8px;
    }
}