body {
    display: flex;
    background-color: #F6F7F8 !important;
    margin: 0;
}

section {
    display: flex;
    flex-direction: column;
}

.click:hover {
    cursor: pointer;
}

.wrap {
    flex-wrap: wrap;
}

.gap16 {
    gap: 16px;
}

.marginTop16 {
    margin-top: 16px;
}

.marginBottom16 {
    margin-bottom: 16px;
}

.dFlex {
    display: flex;
}

.spaceBtw {
    justify-content: space-between
}

.justyCenter {
    justify-content: center;
}

.d-none {
    display: none;
}


input {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    background: #FFF !important;
    width: 100%;
    padding: 10px;
    margin-top: 5px !important;
    outline: none;
}

/* Autofill verändert den hintergrund von inputFeldern */
/* Lösung für Chrome */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: inherit !important;
}

/* Lösung für Firefox */
input:-moz-autofill,
input:-moz-autofill:hover,
input:-moz-autofill:focus,
input:-moz-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    color: inherit !important;
}


.custom-select {
    position: relative;
    width: 100%;
}


.inputAbsolut {
    position: absolute;
    right: 15px;
    top: 14px;
    padding: 1px;
}


.inputAbsolut:hover {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 50%;
}


input:focus {
    border: 1px solid #29ABE2;
}


textarea {
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    background: #FFF;
    width: 100%;
    padding: 10px;
    margin-top: 5px !important;
    margin-bottom: 16px !important;
    outline: none;
}


textarea:focus {
    border: 1px solid #29ABE2;
}


.addTaskHeadlineContainer {
    position: fixed;
    height: 110px;
    width: 100%;
    background-color: #F6F7F8 !important;
    display: flex;
    align-items: end;
    padding-bottom: 15px;
    top: 0;
    right: 5px;
    display: flex;
    left: 296px;
    max-width: calc(100vw - 296px);
    margin-top: 62px;
    z-index: 2;
}


.contentAddTask {
    position: absolute;
    top: 115px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 200px;
    max-width: calc(100vw - 200px);
    margin-top: 56px;
    width: 100%;
    max-height: calc(100vh - 115px);
    overflow-y: auto;
}


.mySelect {
    appearance: none;
    background: url('../img/arrow_drop_downaa.svg') no-repeat right center;
    background-position-x: calc(97%) !important;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    background-color: #FFF;
    width: 100%;
    padding: 10px;
    margin-top: 5px !important;
    margin-bottom: 16px !important;
    outline: none;
}

#datepicker {
    background-image: url('../img/kalenderJoin.svg');
    background-repeat: no-repeat;
    background-position-x: calc(96%) !important;
    background-position: center;
}

.pika-single {
    z-index: 1000;
}


.prioButtonContainer {
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-bottom: 19px;
}



.contentPosition {
    position: relative;
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.taskArea {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
}

.boxLeft {
    padding-right: 48.2px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 285px;
    box-sizing: border-box;
}


#selectedContactsContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 7px;
    flex-wrap: wrap;
    margin-top: 5px;
}


.assignedToContactImg {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    font-size: 13px;
    border: 1.5px solid white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    line-height: 120%;
}


.selectContactsPositionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #FFF;
    margin-bottom: 16px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.ContactsRenderContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 180px;
    width: 100%;
    margin-bottom: 5px;
    overflow-y: auto;
}

/*--------------------SCROLLBAR----------------------------*/
.show-scrollbar::-webkit-scrollbar {
    display: block !important;
    width: 12px !important;
}

.show-scrollbar::-webkit-scrollbar-track {
    background-color: #F6F7F8 !important;
}

.show-scrollbar::-webkit-scrollbar-thumb {
    background-color: #2A3647 !important;
    border-radius: 10px;
}

.show-scrollbar:hover::-webkit-scrollbar-thumb {
    background-color: #091931;
}

.show-scrollbar::-webkit-scrollbar-button:start:decrement,
.show-scrollbar::-webkit-scrollbar-button:end:increment {
    display: block;
    height: 10px;
    background-color: #fff;
    background-repeat: no-repeat;
}

.show-scrollbar::-webkit-scrollbar-button:start:decrement {
    background-position: center;
    background-image: url('../img/arrow_drop_up.svg');
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.show-scrollbar::-webkit-scrollbar-button:end:increment {
    background-position: center;
    background-image: url('../img/arrow_drop_downaa.svg');
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;

}

.assignedContactsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.contactBoxLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 20px;
}

.assignedContactsBox:hover {
    cursor: pointer;
    background: #EEE;
    border-radius: 10px;
}

.assignedContactsBoxSelected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    padding-left: 10px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
    background-color: #2A3647;
    border-radius: 10px;
}


.assignedContactsBoxSelected:hover {
    cursor: pointer;
    background: #091931;
    border-radius: 10px;
}


.addNewContactBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    gap: 5px;
    color: white;
    background-color: #2A3647;
    margin-top: 5px;
    margin-bottom: 8px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    border-radius: 10px;
}


.addNewContactBtnIcon {
    width: 21px;
}

.boxRight {
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid var(--border-grey);
    flex: 1;
    box-sizing: border-box;
}

.prioBtn {
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 7px;
    line-height: 120%;
    padding: 10px 14px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-top: 5px !important;
    flex: 1;
}

.prioBtn:hover {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}


.prioBtnIcons {
    width: 15px;
}

.prioBtnActivUrgent {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #FF3D00 !important;
    color: white;
}

.prioBtnActivMedium {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #FFA800 !important;
    color: white;
}

.prioBtnActivLow {
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    background-color: #7AE229 !important;
    color: white;
}

.selectedSubTask {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: 90px;
}

ul {
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}


#editInput {
    border-radius: 0;
    padding: 0px;
    height: 35px;
    border: none;
    border-bottom: 1px solid #29ABE2 !important;

}


.editAbsolutCross {
    position: absolute;
    right: 44px;
    top: 10px;
    padding: 1px;
    width: 29px;
    border-right: 1px solid #eee;
}


.editAbsolutCheck {
    position: absolute;
    right: 15px;
    top: 10px;
    padding: 1px;
    width: 29px;
    border-left: 1px solid #eee;
}

.editAbsolutCross:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: #EEE;
}


.editAbsolutCheck:hover {
    border-radius: 50%;
    cursor: pointer;
    background-color: #EEE;

}


.selectBtnArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.createBtn {
    color: white;
    background-color: #2A3647;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 6px 13px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.clearBtn {
    background-color: #F6F7F8;
    display: flex;
    font-size: 17px;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    padding: 6px 13px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
}

.createImg {
    width: 15px;
    margin-bottom: -1px;
}

.clearImg {
    width: 19px;
    margin-bottom: -3px;
}


@media (max-width: 1080px) {

    .addTaskHeadlineContainer {
        top: 0px;
        left: 259px;
        max-width: calc(100vw - 259px);
    }


    .contentPosition {
        padding-left: 59px;
        padding-right: 59px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


    .selectBtnArea {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }


    .boxLeft {
        padding-right: 48.2px;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 310px;
        box-sizing: border-box;
    }

    .boxRight {
        padding-left: 48px;
        display: flex;
        flex-direction: column;
        border-left: 1px solid var(--border-grey);
        flex: 1;
        box-sizing: border-box;
    }

}


@media (max-width: 1030px) {
    .contentPosition {
        padding-left: 59px;
        padding-right: 59px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


    .taskArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        width: 100%;
        height: auto;
        max-height: none;
    }


    .selectBtnArea {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }


    .boxLeft {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 280px;
        width: 100%;
        box-sizing: border-box;
    }

    .boxRight {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        border-left: none;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
    }

}

@media (max-width: 700px) {

    .contentAddTask {
        position: absolute;
        top: 100px;
        bottom: 80px;
        display: flex;
        flex-direction: column;
        left: 0px;
        max-width: unset;
        margin-top: 56px;
        width: 100%;
        max-height: calc(100vh - 136px);
        overflow-y: auto;
        -ms-overflow-style: none !important;
        scrollbar-width: none !important;
    }


    ::-webkit-scrollbar {
        display: none;
    }



    .addTaskHeadlineContainer {
        top: 0px;
        left: 12px;
        height: 90px;
        padding-bottom: 10px;
        max-width: calc(100vw - 12px);
    }




    .contentPosition {
        padding-left: 12px;
        padding-right: 15px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
    }


    .taskArea {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: unset;
        width: 100%;
        height: auto;
        max-height: none;
    }


    .selectBtnArea {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
    }


    .boxLeft {
        padding-right: 0px;
        display: flex;
        flex-direction: column;
        flex: 1;
        min-width: 0px;
        width: 100%;
        box-sizing: border-box;
    }

    .boxRight {
        padding-left: 0px;
        display: flex;
        flex-direction: column;
        border-left: none;
        flex: 1;
        width: 100%;
        box-sizing: border-box;
    }

}

@media (max-width: 400px) {

    .prioButtonContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 100%;
        gap: 16px;

    }


    .prioBtn {
        display: flex;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 7px;
        line-height: 120%;
        padding: 10px 14px;
        box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.10);
        border-radius: 10px;
        background-color: #FFFFFF;
        margin-top: 5px !important;
        width: 100%;
    }

}