body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.progress-bar {
    border-radius: 10px;
    height: 100% !important;
    width: 0%;
    background-color: var(--main-color) !important;
}

.text-line-through {
    text-decoration: line-through;
}

.text-decoration-none {
    text-decoration: none;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.bg-main-color {
    background-color: var(--main-background-color)
}

.search-board-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    left: 200px;
    top: 0px;
    z-index: 2;
    background-color: var(--main-background-color);
    padding-left: 96px;
    padding-right: 96px;
    max-width: calc(100vw - 200px);
    padding-bottom: 15px;
}

.search-board-container h1 {
    font-weight: 700;
}

.searchbox {
    display: flex;
    gap: 32px;
}

#fake-searchbar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    gap: 8px;
}

#fake-searchbar input {
    border: none !important;
    outline: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 0 !important;
    margin: 5px;
    width: 200px !important;
}

.search-vector {
    height: 32px;
}

.search-symbol {
    padding-right: 10px;
    height: 32px;
    width: 32px;
}

#button-add-task {
    white-space: nowrap;
    background-color: var(--main-color);
}

.add-task-menu {
    background-color: white;
    border-radius: 10px;
}

#add-task {
    position: fixed;
    background-color: var(--main-background-color);
    z-index: 980;
    display: flex;
    top: 56px;
    left: 200px;
    right: 0px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    background-color: rgba(30, 29, 29, 0.3);
}

.button-add-task {
    display: flex;
    width: fit-content;
    padding: 8px;
    color: white;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}

.button-add-task:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button-add-task:active {
    background-color: #091931;
    border: 1px solid #091931;
}

.button-add-task img {
    height: 24px;
    width: 24px;
}


/* --------------------------------------- */

.content-board {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 56px;
    width: 100%;
    max-height: calc(100% - 56px);
    margin-left: 200px;
}

.contentposition {
    padding: 0px 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
}

.board-main-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    width: 100%;
    justify-content: space-between;
    height: 100%;
}

.statusheadline {
    min-width: 130px;
    max-width: 220px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 10px;
    color: rgba(66, 82, 110, 1);
}

.statusheadline img {
    height: 20px;
    width: 20px;
}

section {
    height: calc(100vh - 226px);
    padding: 0 5px;
}

h3 {
    font-size: 18px !important;
    margin: 0 !important;
}

.status-empty {
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 250px;
}

.drag-area {
    border-radius: 10px;
    min-width: 130px;
    max-height: 93%;
    max-width: 220px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    background-color: #2A3647;
}

.meineCheckbox {
    width: 10px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.06);
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #D1D1D1;
    padding: 10px;
    min-height: 250px;
    height: 230px;
}

.dont-taks {
    align-items: center;
    justify-content: center;
    border: 2px dotted rgba(0, 0, 0, 0.16);
    background-color: #D1D1D1;
    border-radius: 10px;
    min-width: 100%;
    min-height: 66px;
    display: flex;
}

.task:hover {
    cursor: pointer;
}

.task-category {
    min-width: 130px;
    max-width: 180px !important;
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 12px;
    width: fit-content;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.task-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.task-description {
    max-height: 48px;
    overflow-y: auto;
}

.task-users-prio {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.task-detail {
    height: fit-content;
    max-height: 80vh;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #D1D1D1;
    padding: 20px;
    overflow: auto;
}

.task-detail img {
    cursor: pointer;
}

.task-detail-font-color {
    color: #42526E;
    width: 100px;
}

.task-detail-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.task-detail-category {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 12px;
    width: fit-content;
    color: white;
    font-size: 14px;
}

.task-detail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-detail-title {
    font-weight: bold;
    margin-bottom: 4px;
    overflow: hidden;
}

.task-detail-flex {
    display: flex;
}

.task-detail-users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-details {
    display: flex;
    align-items: center;
    width: 400px;
}

.user-name {
    margin-left: 25px;
}

.subtask-margin {
    margin-bottom: 10px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.task-users {
    display: flex;
    align-items: center;
}

.task-box {
    margin-right: 10px;
}

.task-detail-assignment {
    margin-bottom: 10px;
}

.task-detail-bottom {
    display: flex;
    justify-content: flex-end;
}

.profile-picture {
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    margin-right: -10px;
}

.horicontal-and-vertical {
    font-size: 12px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.addTaskPopupPosition {
    position: relative;
    left: 100px;
    right: 100px;
    top: 50px;
    bottom: 50px;
    flex-direction: column;
    max-width: calc(100vw - 200px);
    max-height: calc(100vh - 100px);
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
}

.contentPositionAddTaskPopup {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 120px;
    max-height: calc(100vh - 240px);
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.addTaskPopupHeadlineContainer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80px;
    left: 196px;
    right: 196px;
    max-width: calc(100vw - 392px);
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
}

.close-x {
    display: block;
    padding: 15px;
    font-weight: bold;
}

.close-arrow {
    display: none;
    padding: 15px;
    font-weight: bold;
}

.contentAddTask {
    height: 100% !important;
}


/* Custom drag ghost list */


/* #custom-drag-ghost-list li {
    background-color: #d0bcd5;
    border: 1px solid #a499b3;
}

#custom-drag-ghost-list .sortable-drag {
    background-color: black;
    transform: rotate(300deg);
} */

.contact-container {
    display: flex;
    width: 100%;
    gap: 24px;
}

@media(max-width:1000px) {
    .task {
        width: 100% !important;
    }
    .board-main-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .searchbox {
        gap: 8px;
    }
    #fake-searchbar input {
        width: 100px;
    }
    .search-board-container {
        padding: 20px 50px;
    }
    body {
        padding-top: 8px !important;
    }
    .drag-area {
        flex-direction: row;
        max-height: 100%
    }
    section {
        height: calc(100vh - 500px);
    }
}

@media screen and (width: 982px) and (height: 800px) {
    section {
        height: calc(100vh - 500px);
    }
}

@media(max-width:700px) {
    #add-task {
        left: 0px;
    }
    .contact-header {
        width: 100%;
    }
    .add-task-menu {
        width: 80%
    }
    section {
        height: 100%;
    }
    .close-x {
        display: none;
    }
    .close-arrow {
        display: flex;
    }
    .task-detail-content {
        display: flex;
        flex-direction: column;
        gap: 11px;
    }
    .task {
        width: 200px !important;
        min-height: 200px;
    }
    .drag-area {
        flex-direction: row;
        max-height: 100%
    }
    .block {
        display: flex;
        justify-content: center;
    }
    .button-text {
        display: none;
    }
    .content-board {
        margin-bottom: 50px;
        margin-top: 56px;
        gap: 40px;
        padding: 0px 50px;
        display: flex;
        flex-direction: column;
        max-width: calc(100vw);
        width: 100%;
        overflow-y: auto;
        max-height: calc(100vh - 84px);
        overflow-y: auto;
        margin-left: 0;
    }
    .loom-companion-mv3 {
        display: none;
    }
    .task-detail {
        width: 80vw;
    }
    .contentposition {
        padding: 0;
    }
    .search-board-container {
        position: absolute;
        max-width: 100vw;
        left: 0;
        padding: 0 10px;
        align-items: center;
    }
    #fake-searchbar input {
        width: 100px !important;
    }
    h3 {
        font-size: 15px !important;
    }
    .board-main-section {
        grid-template-columns: repeat(2, 1fr);
        margin-top: 120px;
    }
}

@media(max-width:500px) {
    .add-task-menu {
        width: 100%
    }
    .task-detail {
        width: 100vw;
        height: 100vh;
    }
    .board-main-section {
        grid-template-columns: repeat(1, 1fr) !important;
    }
}