body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}


.text-line-through {
    text-decoration: line-through;
}

.text-decoration-none {
    text-decoration: none;
}

.dialog-bg {
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.d-none {
    display: none;
}

.bg-main-color {
    background-color: var(--main-background-color)
}

.search-board-container {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    height: 110px;
    position: fixed;
    margin-top: 56px;
    left: 243px;
    top: 0px;
    z-index: 2;
    background-color: var(--main-background-color);
    padding-left: 96px;
    padding-right: 96px;
    max-width: calc(100vw - 243px);
    padding-bottom: 15px;
}

.search-board-container h1 {
    font-weight: 700;
}

.searchbox {
    display: flex;
    gap: 32px;
}

#fake-searchbar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border: 1px solid #A8A8A8;
    gap: 8px;
}

#fake-searchbar input {
    border: none !important;
    outline: none !important;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 0 !important;
    margin-bottom: 5px;
    width: 200px !important;
}



.search-vector {
    height: 32px;
}

.search-symbol {
    padding-right: 10px;
    height: 32px;
    width: 32px;
}

#button-add-task {
    white-space: nowrap;
    background-color: var(--main-color);
}

.button {
    display: flex;
    width: fit-content;
    padding: 8px;
    color: white;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    gap: 4px;
    white-space: nowrap;
    font-size: 16px;
    border-radius: 10px;
    border: 1px solid #2A3647;
    background: #2A3647;
}

.button:hover {
    background-color: #29ABE2;
    border: 1px solid #29ABE2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.button:active {
    background-color: #091931;
    border: 1px solid #091931;
}

.button img {
    height: 24px;
    width: 24px;
}

/* --------------------------------------- */
.content-board {
    position: absolute;
    top: 125px;
    bottom: 0;
    display: flex;
    flex-direction: column;
    left: 243px;
    max-width: calc(100vw - 243px);
    margin-top: 56px;
    width: 100%;
    max-height: calc(100vh - 125px);
    overflow-y: auto;
}


.contentposition {
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    position: relative;
}

.board-main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-flow: row;
    grid-gap: 10px; */
}

.statusheadline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 10px;
    color: rgba(66, 82, 110, 1);
}

.statusheadline img {
    height: 20px;
    width: 20px;
}

h3 {
    font-size: 18px !important;
    margin: 0 !important;
}

/* #main-container {
    width: 100%;
} */
/* --------------------------------------- */


/* #headline {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
} */

.status-empty {
    border: 1px dashed black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 250px;
}


.drag-area {
    height: 500px;
    width: 200px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.06);
}

.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #D1D1D1;
    padding: 10px;
}

.task:hover {
    cursor: pointer;
}

.task-category {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 12px;
    width: fit-content;
    color: white;
    font-size: 14px;
    margin-bottom: 20px;
}

.task-title {
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
}

.task-description {
    max-height: 150px;
    overflow-y: auto;
}

.task-users-prio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.task-detail {
    height: fit-content;
    max-height: 80vh;
    width: 35vw;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #D1D1D1;
    padding: 20px;
    overflow: auto;
}

.task-detail img {
    cursor: pointer;
}

.task-detail-font-color {
    color: #42526E;
    width: 100px;
}

.task-detail-content-container {}

.task-detail-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
}

.task-detail-category {
    background-color: #0038FF;
    border-radius: 8px;
    padding: 4px 12px;
    width: fit-content;
    color: white;
    font-size: 14px;
}

.task-detail-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.task-detail-title {
    font-weight: bold;
    margin-bottom: 4px;
    /* white-space: nowrap; */
    overflow: hidden;
}

.task-detail-flex {
    display: flex;
}

.task-detail-users {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.user-details {
    display: flex;
    align-items: center;
    width: 400px;
}

.user-name {
    margin-left: 25px;
}

.subtask-margin {
    margin-bottom: 10px;
}

.margin-bottom10 {
    margin-bottom: 10px;
}

.task-users {
    display: flex;
    align-items: center;
}

.task-box {
    margin-right: 10px;
}

.task-detail-assignment {
    margin-bottom: 10px;
}

.task-detail-bottom {
    display: flex;
    justify-content: flex-end;
}


.profile-picture {
    height: 32px;
    width: 32px;
    border: 1px solid white;
    border-radius: 100%;
    color: white;
    margin-right: -10px;

}

.horicontal-and-vertical {
    font-size: 12px;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

/*AddTask popup container*/

.addTaskPopupPosition {
    position: relative;
    left: 100px;
    right: 100px;
    top: 50px;
    bottom: 50px;
    flex-direction: column;
    max-width: calc(100vw - 200px);
    max-height: calc(100vh - 100px);
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 30px;
}

.contentPositionAddTaskPopup {
    position: absolute;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 120px;
    max-height: calc(100vh - 240px);
    padding-left: 96px;
    padding-right: 96px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}

.addTaskPopupHeadlineContainer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 80px;
    left: 196px;
    right: 196px;
    max-width: calc(100vw - 392px);
    padding-bottom: 10px;
    width: 100%;
    background-color: white;
}


@media(max-width:1360px) {
    .contentposition {
        padding-left: 50px;
        padding-right: 50px;
    }

    .search-board-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media(max-width:1220px) {}

@media(max-width:1200px) {
    .statusheadline {
        width: 200px;
    }

    .contentposition {
        padding-left: 30px;
        padding-right: 30px;
    }

    .search-board-container {
        padding-left: 30px;
        padding-right: 30px;
    }

    .board-main-section {
        flex-direction: column;
    }

    .drag-area {
        height: 300px;
        width: 100%;
        flex-direction: row;
    }

    .task {
        width: 200px;
    }
}

@media(max-width:1100px) {
    .task-detail {
        width: 50vw;
    }
}

@media(max-width:1000px) {
    .searchbox {
        gap: 8px;
    }

    #fake-searchbar input {
        width: 100px;
    }
}

@media(max-width:700px) {

    .content-board {
        position: absolute;
        top: 125px;
        bottom: 85px;
        display: flex;
        flex-direction: column;
        left: 0;
        max-width: calc(100vw);
        margin-top: 56px;
        width: 100%;
        max-height: calc(100vh - 210px);
        overflow-y: auto;
    }


    .task-detail {
        width: 80vw;
    }

    .search-board-container {
        flex-direction: column;
        align-items: self-start;
        /* max-width: calc(100vw); */
        max-width: 100vw;
        left: 0;
    }

    #fake-searchbar input {
        width: 100px;
    }
}

@media(max-width:500px) {
    .task-detail {
        width: 100vw;
        height: 100vh;
    }
}