body {
    background-color: var(--main-background-color) !important;
    height: 100vh;
    display: flex;
    margin: 0;
    width: 100vw;
}


.summary-line {
    height: 59px;
    border-radius: 8px;
    width: 4px;
    background-color: var(--headline) !important;
    margin-right: 30px;
    margin-left: 30px;
}

.contacts-container {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.button {
    background-color: var(--main-color) !important;
    color: var(--text-white) !important;
}