body {
    background-color: var(--main-background-color) !important;
    height: 100vh;
    display: flex;
    margin: 0;
    width: 100vw;
    font-family: 'Inter' !important;
}

.contactPage {
    margin-top: 110px;
}

.summary-line {
    height: 59px;
    border-radius: 8px;
    width: 4px;
    background-color: var(--headline) !important;
    margin-right: 30px;
    margin-left: 30px;
}

#contactsId {
    /* calc(100vh - "height from header") */
    height: calc(100vh - 166px);
}

.profilePicture {
    height: 42px;
    width: 42px;
    border-radius: 100%;
    margin-right: 35px !important;
    color: white;
    border: 2px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.btnBackground {
    position: fixed;
    width: auto;
    height: 101px;
    background: white;
}

.createContactButton,
.addNewContactButton {
    background-color: var(--main-color) !important;
    color: var(--text-white) !important;
    border: none !important;
}

.addNewContactButton {
    position: relative;
    width: 352px;
    height: 56px !important;
    padding: 0 !important;
    gap: 16px;
}

.button:hover {
    background: #29ABE2 !important;
}

.addNewContactButton img {
    width: 32px;
    height: 32px;
}

.form-control:focus {
    border-color: inherit !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}


.contacts-container {
    top: 300px;
    width: 400px;
    height: calc(100vh - 56px);
    padding: 0 24px 32px;
    margin-top: -110px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFF;
    overflow-y: scroll;
}

.scrollingContainer {
    margin-top: 101px;
}

.contactsInfo {
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 10px;
}

.contactsInfo:hover {
    background: #F2F2F2;
}

.firstLetterOverContact {
    padding: 17px 36px;
    height: 58px;
}

.partingLine {
    height: 1px;
    background: #DDDDDD;
    width: 336px;
    margin: 8px 0 8px;
    font-weight: 400;
}

/* add contact container */
.profilePictureArea {
    position: relative;
    width: 275px;
    height: 100%;
    width: 100%;
}

.circle {
    margin-top: 204px;
    width: 120px;
    height: 120px;
    border: #FFFFFF solid 2px;
    border-radius: 100%;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.personInCircle {
    position: absolute;
    width: 64px;
    height: 64px;
    top: 264px;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addContactBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.4);
}

.addContactPopup {
    width: 1212px;
    height: 592px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
    background: #FFF;
}

.leftSideAddContactPopup {
    position: relative;
    height: 100%;
    width: 476px;
    background: #2A3647;
    border-radius: 30px;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 30px;
    border-top-left-radius: 30px;
    color: white;
    padding: 66px 46px;
}

.leftSideAddContactPopup img {
    position: absolute;
    top: 154px;
    left: 48px;
    width: 55.6px;
    height: 66.483px;
    display: flex;
}

.addContactLeftText {
    position: relative;
    /* width: 371px;
    height: 113px; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 8px;

}

.textUnderAddContactTitle {
    margin-bottom: 17.5px !important;
}

.blueLine {
    position: absolute;
    /* Dieses bottom muss später noch angepasst werden */
    bottom: 0;
    left: 0;
    height: 3px;
    width: 90px;
    background: #29ABE2;
    border-radius: 1.5px;
}

.rightSidePopup {
    position: relative;
    width: 745px;
    justify-content: flex-end;
}

.contactInfo {
    width: 422px;
    height: 215px;
    margin: 137px 48px 0 0;
    gap: 32px;
}

.inputName input,
.inputEmail input,
.inputPhone input {
    width: calc(41px + 380px);
    height: calc(26px + 24px);
    padding: 13px 21px;
    border-radius: 10px;
    border: 1px solid #D1D1D1;
    background: #FFF;
}

.inputName,
.inputEmail,
.inputPhone {
    position: relative;
}

/* deactivates all input focuses */
textarea:focus,
input:focus {
    outline: 1px solid #29ABE2;
}

input {
    border: none;
}

.inputName input:hover,
.inputEmail input:hover,
.inputPhone input:hover {
    border: 1px solid #29ABE2;
}

.inputName img,
.inputEmail img,
.inputPhone img {
    position: absolute;
    top: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    right: calc(21px - 12px);
}

.addContactButtonContainer {
    margin-top: 16px;
}

/* all pictures of right popup side */
.contactInfo img {
    width: 24px;
    height: 24px;
}

.createContactButton {
    width: calc(32px + 182px);
    height: calc(32px + 25px);
    padding: 16px;
    gap: 4px;
}

.createContactButton:hover {
    background: #29ABE2 !important;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.5);
}

.cancelBtn {
    width: calc(32px + 94px);
    height: calc(32px + 24px);
    padding: 16px;
    gap: 4px;
    margin-right: 24px;
    border-radius: 10px;
    border: 1px solid var(--version-2-main-color, #2A3647);
    background: #F8F8F8;
    text-decoration: none;
    color: #2A3647;
    align-items: center;
    justify-content: space-between;
}

.cancelBtn:hover {
    border: 1px solid var(--version-2-main-color, #29ABE2);
    background: #F8F8F8;
    color: #29ABE2;

}

.cancelBtn:hover,
.createContactButton:hover {
    box-shadow: 2px 0 6px 0 rgb(0, 0, 0, 0.5);
}

.closePopupCross {
    position: absolute;
    top: 48px;
    right: 48px;
}

.closePopupCross:hover {
    background: #EEEEEE;
    border-radius: 100%;
}

/* Text on right side */
.contactInfoBig,
.contactsTitle {
    margin-left: 55px;
}

.contactsTitle {
    gap: 30px;
    height: 73px;
    margin-bottom: 32px;
    justify-content: space-between;
}

.contactInfoBig {
    height: 364px;
}

.profilePictureBig {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    color: white;
    margin: 0 54px 21px 0 !important;
    border: 3px solid white;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.contactInfoTextBlock {
    height: 74px;
    margin-bottom: 21px !important;
}

.emailText {
    margin-bottom: 15px !important;
}

.emailScrollMenu,
#emailid a {
    color: #007CEE;
}

#emailid a {
    width: 400px !important;
}

#emailid,
.phoneNumber {
    width: 100% !important;
}

.phoneNumber {
    color: black !important;
}

.phoneText {
    margin: 22px 0 15px !important;
}

.editDeleteContact:hover {
    font-weight: bold;
    color: #29ABE2;
}

.editDeleteContact img {
    width: 24px;
    height: 24px;
    margin-right: 8px;
}

/* Basics */
a {
    text-decoration: none !important;
}

section {
    overflow-x: hidden;
}

.horicontal {
    display: flex !important;
    align-items: center !important;
}

.vertical {
    display: flex;
    justify-content: center;
}

.horicontalAndVertical {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

.column {
    display: flex;
    flex-direction: column;
}

.gap16 {
    gap: 16px;
}

.pointer {
    cursor: pointer;
}

.textHorizontal {
    align-items: center;
}

.contentContact {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    margin-top: 56px;
    width: 100%;
    height: auto;
    overflow-y: auto;
}

.slide-in {
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    0% {
        transform: translateX(400%);
    }

    100% {
        transform: translateX(0);
    }
}

@media (max-width: 700px) {

    .contentContact {
        display: flex;
        flex-direction: column;
        margin-top: 56px;
        padding-left: 0px;
        padding-bottom: 80px;
        margin-bottom: 0;
        width: 100%;
        height: auto;
        overflow-y: auto;
    }

    .contacts-container {
        height: calc(100vh - 56px - 80px);
    }
}