* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--main-background-color) !important;
    height: calc(100vh);
    width: calc(100vw);
    display: flex;
    font-family: 'Inter' !important;
}

.contacts-container {
    height: 100%;
}

.content-contact {
    margin-left: 200px;
    margin-top: 56px;
    padding: 16px 0;
    width: 100%;
    display: flex;
    /* height: 100%; */
}

.info-panel-arrow {
    display: none;
}

.contacts-line {
    height: 59px;
    border-radius: 8px;
    width: 4px;
    background-color: var(--headline) !important;
    margin-right: 30px;
    margin-left: 30px;
}

.contacts-title {
    display: flex;
    align-items: center;
    margin-top: 150px;
    margin-left: 30px;
}

.addNewContactButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 352px;
    height: 56px !important;
    padding: 0 !important;
    gap: 16px;
    width: 100%;
    padding-bottom: 20px;
}

.addNewContactButton span {
    display: none;
}

.createContactButton,
.addNewContactButton {
    background: #2A3647 !important;
    color: white;
    border: none;
    border-radius: 10px;
}

.addNewContactButton:hover {
    background: #29ABE2 !important;
    box-shadow: -2px 0 6px 0 rgb(0, 0, 0, 0.2);
}

.btnBackground {
    gap: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#contactsId {
    /* overflow: scroll;
     display: inline-block;
     height: 100%; */
    /* overflow-y: scroll; */
    /* Vertikaler Scrollbalken */
    /* overflow-x: hidden; */
    /* Verhindert horizontalen Scrollbalken */
    /* display: block; */
    /* max-height: [IhreHöhe]px;  */
    /* Ersetzen Sie [IhreHöhe] durch einen festen Wert oder einen Wert in vh */
    height: 100%;
}

.profile-picture {
    color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 58px;
    font-size: 20px;
    width: 120px;
    height: 120px;
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
    box-sizing: border-box;
}

.contacts-info {
    display: flex;
    width: 100%;
}

.contact-info {
    margin-left: 30px;
    margin-top: 20px;
}

.contact-information {
    margin-top: 35px;
}

section {
    width: 100%;
}

.contact-header {
    width: 100%;
    display: flex;
}

span {
    padding: 10px
}

.contact-name {
    font-size: 47px;
    font-weight: 500;
}

.first-letter {
    padding-top: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid var(--text-color);
    font-size: 20px;
    font-weight: 400px;
}

.profile-picture-list {
    display: inline-block;
    color: #000;
    border: 2px solid #000;
    border-radius: 50%;
    padding: 30px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
}

.contactsInfo {
    padding: 15px 24px;
    cursor: pointer;
    border-radius: 10px;
    display: flex;
}

.contacts-section {
    padding-left: 50px;
    padding-right: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    height: 100%;
    width: 180px !important;
}

.contacts-section:hover {
    width: 100% !important;
}

.contacts-section:hover .addNewContactButton span {
    display: flex !important;
}

#add-contact {
    position: absolute;
    top: 174px;
    bottom: 174px;
    right: 90px;
    left: 90px;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-contact-addet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 60%;
    background-color: var(--sidebarHoverElements);
    border-radius: 15px 0 0 15px;
    color: azure;
    padding: 22px;
}

.header-contact-addet img {
    height: 64px;
    margin-bottom: 20px;
}

.contact-add-input-picture {
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    background-color: var(--text-white);
    border-radius: 0px 15px 15px 0px;
}

.contact-add-inputarea {
    align-items: center;
}

input {
    height: 45px;
    width: 360px;
    border-radius: 10px;
    margin: 10px !important;
    padding: 10px;
    border: 1px solid #D1D1D1;
    background-image: url('../img/addTaskperson_add.svg');
    background-position: right 10px center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    padding-right: 50px;
}

input:focus {
    outline: 1px solid #29ABE2 !important;
}


/* textarea:focus,
input:focus {
    outline: 1px solid #29ABE2;
}*/

.btn-contact-add {
    width: 100%;
    margin-top: 80px;
}

.cancel-btn {
    width: 140px;
    background-color: white !important;
    color: #000;
    border: 1px solid#000;
    height: 56px !important;
    border-radius: 10px;
}

.cancel-btn:hover {
    color: var(--headline);
    border: 1px solid var(--headline);
    height: 56px !important;
    border-radius: 10px;
}

.add-contact-btn {
    width: 200px;
}

.contacts-line-vertikal {
    height: 4px;
    border-radius: 10px;
    width: 119px;
    background-color: var(--headline) !important;
    ;
}

.close-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    width: 20px;
    height: 20px;
}

.close-btn:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.p-40 {
    padding: 46px;
}

.p-70 {
    padding: 70px;
}

.subtitle-row {
    display: flex;
    align-items: center;
}

@media (max-width:800px) {
    .contact-name {
        font-size: 38px;
    }
}

@media (max-width:700px) {
    .addNewContactButton span {
        display: flex !important;
    }
    .contact-name {
        font-size: 47px;
    }
    .contacts-section {
        width: 100% !important;
    }
    .info-panel-arrow {
        display: block;
    }
    .profile-picture {
        width: 77px;
        height: 77px;
        padding: 0px;
    }
    .content-contact {
        margin-left: 0;
        margin-bottom: 60px;
        height: auto;
        padding: 0;
    }
    .contacts-section {
        padding-left: 0px;
        padding: 8px;
    }
    .contacts-title {
        align-items: flex-start;
        margin-top: 0;
        margin-left: 30px;
    }
    .contacts-info-panel {
        display: none;
        position: absolute;
        top: 56px;
        left: 0;
        z-index: 998;
        background-color: white;
        bottom: 58px;
    }
    .contacts-line {
        height: 4px;
        border-radius: 8px;
        width: 91px;
        background-color: var(--headline) !important;
        margin-left: 0px;
    }
    .contacts-title {
        flex-direction: column;
    }
    .subtitle-row {
        display: flex;
        flex-direction: column-reverse;
        /* align-content: flex-start; */
        /* flex-wrap: wrap; */
        /* width: 100%; */
        /* justify-content: space-evenly; */
        align-items: flex-start;
    }
    .contact-add-input-picture {
        align-items: center;
        justify-content: space-around;
        height: 100%;
        width: 100%;
        background-color: var(--text-white);
        border-radius: 0px 0px 15px 0px;
        flex-direction: column;
    }
    .profile-picture-list {
        display: inline-block;
        color: #000;
        border: 2px solid #000;
        border-radius: 50%;
        padding: 30px;
        /* font-size: 20px; */
        width: 20px;
        height: 20px;
        text-align: center;
        line-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #add-contact {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 999;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .header-contact-addet {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: 100%;
        width: 100%;
        background-color: var(--sidebarHoverElements);
        border-radius: 15px 0 0 0px;
        color: azure;
        padding: 22px;
    }
    .p-70 {
        padding: 0px;
    }
    input {
        height: 45px;
        width: 100%;
        border-radius: 10px;
        margin: 10px !important;
        padding: 10px;
        border: 1px solid #D1D1D1;
        background-image: url(../img/addTaskperson_add.svg);
        background-position: right 10px center;
        background-repeat: no-repeat;
        background-size: 30px 30px;
        padding-right: 50px;
    }
    .close-btn {
        color: #D1D1D1;
    }
    .contact-name {
        font-size: 28px;
        font-weight: 500;
        padding: 0 !important;
    }
    .margin {
        margin-top: -30px;
    }
}