/* all colors in style.css */


/* body in css */

.button {
    background-color: var(--main-color) !important;
    color: var(--text-white) !important;
}

.button:hover {
    background-color: var(--hover-color) !important;
}

.button-guest-login {
    background-color: var(--text-white)!important;
    color: var(--main-color) !important;
    margin: 35px;
    height: 51px !important;
    min-width: 161 !important;
    padding-top: 4px !important;
    padding-right: 16px !important;
    padding-bottom: 4px !important;
    padding-left: 16px !important;
}

.button-guest-login:hover {
    background-color: var(--hover-color) !important;
}

.button-log-in {
    width: 145px !important;
    height: 51px !important;
}

span {
    padding-right: 35px;
}

input {
    border: none;
    outline: none;
}

.input-fields {
    margin: 35px;
    display: flex;
    flex-direction: column;
}

.input-field {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-white);
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    margin-bottom: 29px !important;
    padding-right: 10px;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.checkbox {
    margin: 35px;
}

.checkbox a {
    padding: 35px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding-top: 40px;
    padding-right: 77px;
    padding-left: 77px;
}

.sing-up-mobile {
    display: none;
}

@media (max-width: 500px) {
    header {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding-top: 18px;
        padding-right: 15px;
        padding-left: 15px;
    }
    .sing-up-mobile {
        padding-top: 90px;
        display: flex;
        justify-content: space-around;
        height: 49px;
    }
    .button-sing-up-mobile {
        height: 30px !important;
        width: 110px !important;
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
        justify-content: center !important;
    }
    #sing-up {
        display: none;
    }
    span {
        padding-right: 0;
    }
    .dialog {
        margin-top: 30px;
    }
    .btn-dark {
        margin-right: 0;
        margin-left: 2%;
    }
    .checkbox a {
        padding: 10px;
    }
}

@media (max-width: 375px) {
    .sing-up-mobile {
        display: flex;
        justify-content: space-around;
        padding-top: 0;
        height: 0;
    }
    .checkbox {
        margin: 10px;
    }
    body {
        height: 100vh;
    }
    header {
        padding-top: 12px;
        padding-right: 12px;
        padding-left: 15px;
    }
    header img {
        height: 80px;
    }
}