/* all colors in style.css */


/* body in css */

body {
    display: flex;
    flex-direction: column;
    background-color: var(--body-background-color) !important;
}

.button {
    background-color: var(--main-color) !important;
    color: var(--text-white) !important;
}

.button:hover {
    background-color: var(--headline) !important;
}

.button-guest-login {
    background-color: var(--text-white)!important;
    color: var(--main-color) !important;
    /* margin: 30px; */
    height: 51px !important;
    width: 145px !important;
    min-width: 161 !important;
    padding-top: 4px !important;
    padding-right: 16px !important;
    padding-bottom: 4px !important;
    padding-left: 16px !important;
}

.button-guest-login:hover {
    border-color: var(--headline) !important;
    border-width: 2px;
    color: var(--headline) !important;
    /* background-color: var(--text-white)!important; */
}

.button-log-in {
    width: 145px !important;
    height: 51px !important;
}

.button-log-in:hover {
    background-color: var(--headline) !important;
    width: 145px !important;
    height: 51px !important;
}

span {
    padding-right: 35px;
}

input {
    border: none;
    outline: none;
}

.input-fields {
    margin: 35px;
    display: flex;
    flex-direction: column;
}

.input-field {
    display: flex;
    justify-content: space-between;
    background-color: var(--text-white);
    border: 1px solid var(--border-grey);
    border-radius: 10px;
    padding-right: 10px;
    padding-left: 6px;
    padding-bottom: 4px;
    padding-top: 4px;
}

.checkbox {
    margin: 35px;
}

.checkbox a {
    padding: 35px;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

header {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    padding-top: 40px;
    padding-right: 77px;
    padding-left: 77px;
    height: 111px;
}

.sing-up-mobile {
    display: none;
}

#warning-text-passwort,
#warning-text-email {
    color: var(--color-red);
}

.warning-field {
    height: 29px;
}

.h1 {
    font-size: 61px !important;
}

.police {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 17px;
    gap: 16px;
}

.police a {
    color: var(--text-color);
    text-decoration: none;
}

.police :hover a {
    color: var(--headline);
    font-weight: bold;
}

@media (max-width: 700px) {
    body {
        padding: 12px;
    }
    header {
        display: flex;
        justify-content: space-between;
        z-index: 1;
        padding-top: 18px;
        padding-right: 15px;
        padding-left: 15px;
    }
    span {
        font-weight: bold;
    }
    .sing-up-mobile {
        padding-top: 90px;
        display: flex;
        justify-content: space-around;
        height: 49px;
        z-index: 1;
        align-items: center;
    }
    .button-sing-up-mobile {
        height: 48px !important;
        width: 80px !important;
        display: flex !important;
        align-content: center !important;
        align-items: center !important;
        justify-content: center !important;
    }
    #sing-up {
        display: none;
    }
    span {
        padding-right: 0;
    }
    .dialog {
        margin-top: 30px;
    }
    .btn-dark {
        margin-right: 0;
        margin-left: 2%;
    }
    .checkbox a {
        padding: 10px;
    }
    .buttons {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 413px) {
    .sing-up-mobile {
        display: flex;
        justify-content: space-around;
        height: 33px !important;
        height: 0;
        padding-top: 39px !important;
    }
    .checkbox {
        margin: 10px;
    }
    body {
        height: 100vh;
    }
    header {
        padding-top: 12px;
        padding-right: 12px;
        padding-left: 15px;
    }
    header img {
        height: 80px;
    }
    .police {
        padding: 0px;
    }
}

@media (max-width: 393px) and (max-height: 786px) {
    .sing-up-mobile {
        padding-top: 50px;
    }
}

@media (max-width: 375px) and (max-height: 812px) {
    .sing-up-mobile {
        padding-top: 66px;
    }
}