:root {
    --main-color: #2A3647;
    --text-white: #FFF;
    --text-color: #A8A8A8;
    --border-grey: #D1D1D1;
    --design-background: #FF7A00;
    --sale-background: #FC71FF;
    --back-office-background: #1FD7C1;
    --marketing-background: #0038FF;
    --media-background: #FFC701;
    --main-background-color: #F6F7F8;
    --headline: #29ABE2;
    --hover-color: #091931;
}

.dialog {
    background-color: var(--text-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04) !important;
    border-radius: 30px !important;
    width: 600px;
    margin-top: 38px;
}

.h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.underline {
    height: 3px;
    width: 72px;
    background-color: var(--headline);
    border-radius: 5px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.line-grey {
    width: 1px;
    background-color: var(--text-color) !important;
}

.gap-32 {
    gap: 32px;
}

.width-100P {
    width: 100%;
}

.padding-right-59px {
    padding-right: 59px;
}

.padding-left-59px {
    padding-left: 59px;
}

.justifyContent {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.column {
    display: flex;
    flex-direction: column;
}

.d-none {
    display: none;
}