.header {
    width: 100%;
    height: 56px;
    background-color: var(--text-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    padding: 0 96px;
    margin-bottom: 110px;
}

/* ? */
.sidebar-mobile {
    display: none;
    display: flex;
    background-color: var(--text-color);
}

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    min-width: 200px;
    background-color: var(--main-color) !important;
}

.sidebar-text {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    padding-top: 20px;
}

.sidebar-text:hover {
    background-color: var(--hover-color) !important;
}

.sidebar-text-sub {
    padding-left: 49px;
}

.sidebar-text a {
    color: var(--text-color);
    text-decoration: none;
}

.sidebar-bottom a {
    color: var(--text-color);
    text-decoration: none;
}

.sidebar-bottom:hover {
    background-color: var(--hover-color) !important;
}

.sidebar-text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.police {
    display: flex;
    justify-content: center;
}

/* ? */
.header-title {
    display: flex;
    display: flex;
    align-items: center;
}
/* ? */

/* ? */
#header-summary {
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    justify-content: space-evenly;
}
/* ? */

@media (max-width: 1080px){
    .header {
        padding: 0 59px;
    }
}

@media(max-width: 600px) {
    .sidebar-text {
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
    }

    .sidebar-text img {
        height: 20px;
    }

    .sidebar-text-area {
        display: flex;
        justify-content: space-between;
        margin-right: 8px;
        margin-left: 10px;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }

    .police {
        display: none;
    }

    /* header {
        display: none;
    } */
/* ? */
#header-summary {
    margin-bottom: 0px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    align-items: flex-start;
    margin-left: 9px;
    margin-top: 0;
}
/* ? */
/* ? */
.header-mobile-containe {
    flex: 1;
    flex-direction: column-reverse;
    justify-content: flex-end;
    height: 0px;
    padding-top: 10px;
}
/* ? */
.header-mobile {
    display: flex;
    background-color: var(--main-color);
    width: 100%;
}



}