<div class="sidebar-mobile">

    <div class="sidebar-text-area">
        <div class="sidebar-text">
            <img src=".img/summary-icon.svg" alt="">
            <a href="./summery.html">Summery</a>
        </div>

        <div class="sidebar-text">
            <img src=".img/add.task.icons.svg" alt="">
            <a href="./addTask.html">Add Task</a>
        </div>

        <div class="sidebar-text">
            <img src=".img/board-icon.svg" alt="">
            <a href="./board.html">Board</a>
        </div>

        <div class="sidebar-text">
            <img src=".img/contacts-icon.svg" alt="">
            <a href="./contacts.html">Contacts</a>
        </div>

    </div>
    <div class="police">
        <div class="sidebar-bottom">
            <a href="">Privanxe Police</a>
        </div>
        <div class="sidebar-bottom">
            <a href="">Legal notice</a>
        </div>
    </div>
</div>