/*header*/

.header {
    position: fixed;
    top: 0;
    left: 200px;
    z-index: 3;
    max-width: calc(100vw - 200px);
    width: 100%;
    height: 56px;
    background-color: var(--text-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 21px;
}

.headerHeadlineBox {
    display: flex;
}


/* ? */

.headImgLeft {
    display: none;
}

.headBoxRight {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.headBoxRightImg {
    width: 28px;
}

.headBoxRightUserCircle {
    border-radius: 50%;
    font-size: 15px;
    width: 38px;
    height: 38px;
    padding: 5.5px;
    border: 2px solid black;
}


/*------------------------------------------------*/


/*Sidebar*/

.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    width: 200px;
    background-color: var(--main-color) !important;
    z-index: 1;
}

.sidebar-text {
    width: 100%;
    padding-bottom: 15px;
    display: flex;
    padding-top: 15px;
}

.sidebar-text:hover {
    background-color: var(--sidebarHoverElements) !important;
}

.sidebar-text-sub {
    padding-left: 49px;
}

.sidebar-text a {
    color: var(--text-color);
    text-decoration: none;
}

.sidebar-bottom a {
    color: var(--text-color);
    text-decoration: none;
}

.sidebar-bottom a:hover {
    color: var(--headline) !important;
}

.sidebar-text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}


/*------------------------------------------------*/


/*???*/

.police {
    display: flex;
    justify-content: center;
}


/*???*/


/*???*/

.header-title {
    display: flex;
    display: flex;
    align-items: center;
}


/*???*/

#header-summary {
    margin-top: 57px;
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    justify-content: space-evenly;
}

@media (max-width: 1080px) {
    .header {
        padding-left: 59px;
        padding-right: 59px;
    }
}

@media(max-width: 700px) {
    .header {
        position: fixed;
        top: 0;
        left: 0px;
        z-index: 3;
        width: 100%;
        max-width: unset;
        height: 56px;
        background-color: var(--text-white);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 110px;
    }
    .headerHeadlineBox {
        display: none !important;
    }
    .headImgLeft {
        display: unset;
    }
    /*------------------------------------------------*/
    #header-summary {
        margin-bottom: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        margin-left: 9px;
        margin-top: 0;
    }
    /*Sidebar*/
    .sidebar {
        position: fixed;
        left: 0;
        top: unset;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 80px;
        width: 100vw;
        background-color: var(--main-color) !important;
    }
    .logo-container {
        display: none;
    }
    .sidebar-bottom {
        display: none;
    }
    .sidebar-text {
        padding-bottom: 13px;
        padding-top: 13px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 15px;
        font-size: 15px;
        width: 23%;
    }
    .sidebar-text-sub {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0px;
    }
    .sidebar-text img {
        height: 26px;
        width: 26px;
    }
    .sidebar-text-area {
        display: flex;
        align-items: center;
        flex-direction: column;
        display: flex;
        margin-right: 0px;
        margin-left: 0px;
        width: 100%;
        flex-direction: row;
    }
    .police {
        display: none;
    }
    /* header {
        display: none;
    } */
    /* ? */
    #header-summary {
        margin-bottom: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        margin-left: 9px;
        margin-top: 0;
    }
    /* ? */
    /* ? */
    .header-mobile-containe {
        flex: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 0px;
        padding-top: 10px;
    }
    /* ? */
    .header-mobile {
        display: flex;
        background-color: var(--main-color);
        width: 100%;
    }
    .sidebar-mobile {
        display: flex;
    }
    .sidebar-mobile {
        display: flex;
        width: 100%;
    }
}