/*header*/

.header {
    position: fixed;
    top: 0;
    left: 243px;
    z-index: 3;
    max-width: calc(100vw - 243px);
    width: 100%;
    height: 96px;
    background-color: var(--text-white);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 96px;
    padding-right: 21px;
}

.headerHeadlineBox {
    display: flex;
}


/* ? */

.headImgLeft {
    display: none;
}

.headBoxRight {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
}

.headBoxRightImg {
    width: 28px;
}

.headBoxRightUserCircle {
    border-radius: 50%;
    font-size: 15px;
    width: 38px;
    height: 38px;
    padding: 5.5px;
    border: 2px solid black;
}


/*------------------------------------------------*/


/*Sidebar*/

.sidebar {
    position: fixed;
    padding: 64px 0;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 243px;
    background-color: var(--main-color) !important;
    z-index: 1;
}

.sidebar-text {
    height: 30px;
    gap: 15px;
    color: #CDCDCD;
}

.sidebar-text-sub {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 56px;
    width: 100%;
}

.sidebar-text-sub img {
    width: 30px;
    height: 30px;
}

.sidebar-text-area {
    width: 100%;
}

.sidebar-text-area a {
    text-decoration: none;
}

.sideBarCategory {
    margin: 7.5px 0;
}

.sideBarCategory:hover {
    background: #2A3D59;
}

.quickLinksSidebar {
    margin-top: 243px;
}

.sidebar-bottom {
    padding: 8px;
    margin: 2px 0;
}

.sidebar-bottom a {
    color: var(--text-color);
    text-decoration: none;
}

.sidebar-bottom a:hover {
    color: var(--headline) !important;
    font-weight: bold;
}

.htmlActive {
    background-color: #091931;
}

/*------------------------------------------------*/


/*???*/

.police {
    display: flex;
    justify-content: center;
}


/*???*/


/*???*/

.header-title {
    display: flex;
    display: flex;
    align-items: center;
}


/*???*/

#header-summary {
    margin-top: 57px;
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    justify-content: space-evenly;
}

@media (max-width: 1080px) {
    .header {
        padding-left: 59px;
        padding-right: 59px;
    }
}

@media(max-width: 700px) {
    .header {
        position: fixed;
        top: 0;
        left: 0px;
        height: 80px !important;
        z-index: 3;
        width: 100%;
        max-width: unset;
        background-color: var(--text-white);
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.10);
        display: flex;
        align-items: center;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 110px;
    }

    .headerHeadlineBox {
        display: none !important;
    }

    .headImgLeft {
        display: unset;
    }

    /*------------------------------------------------*/
    #header-summary {
        margin-bottom: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        margin-left: 9px;
        margin-top: 0;
    }

    /*Sidebar*/
    .sidebar {
        position: fixed;
        left: 0;
        padding: 0 0 !important;
        top: unset;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 80px;
        width: 100vw;
        background-color: var(--main-color) !important;
    }

    .logo-container {
        display: none;
    }

    .quickLinksSidebar {
        display: none;
    }

    .sideBarCategory:hover {
        background: none;
    }

    .sidebar-text-sub {
        flex-direction: column !important;
        font-size: 14px !important;
        height: 76px !important;
        width: 76px !important;
        padding: 0 0 !important;
        justify-content: center !important;
    }

    .sidebar-text-area {
        display: flex !important;
        flex-direction: row !important;
        height: 80px !important;
        width: 100vw !important;
        justify-content: space-around !important;
        align-items: center !important;
    }

    .sidebar-text-sub img {
        width: 24px !important;
        height: 24px !important;
    }

    /* header {
        display: none;
    } */
    /* ? */
    #header-summary {
        margin-bottom: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        margin-left: 9px;
        margin-top: 0;
    }

    /* ? */
    /* ? */
    .header-mobile-containe {
        flex: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 0px;
        padding-top: 10px;
    }

    /* ? */
    .header-mobile {
        display: flex;
        background-color: var(--main-color);
        width: 100%;
    }

    .sidebar-mobile {
        display: flex;
    }

    .sidebar-mobile {
        display: flex;
        width: 100%;
    }
}