<div class="sidebar">

    <div class="logo-container">
        <img src="img/join.logo-white.svg" alt="">
    </div>
    <div class="sidebar-text-area">
        <div class="sidebar-text">
            <div class="sidebar-text-sub">
                <img src="../img/SummaryIcon.svg">
                <a href="">Summery</a>
            </div>
        </div>
        <div class="sidebar-text">
            <div class="sidebar-text-sub">
                <img src="img/add.task.icons.svg" alt="">
                <a href="">Add Task</a>
            </div>
        </div>
        <div class="sidebar-text">
            <div class="sidebar-text-sub">
                <img src="img/board-icon.svg" alt="">
                <a href="">Board</a>
            </div>
        </div>
        <div class="sidebar-text">
            <div class="sidebar-text-sub">
                <img src="img/contacts-icon.svg" alt="">
                <a href="">Contacts</a>
            </div>
        </div>
    </div>
    <div>
        <div class="sidebar-bottom">
            <a href="">Privanxe Police</a>
        </div>
        <div class="sidebar-bottom">
            <a href="">Legal notice</a>
        </div>
    </div>

</div>