<head>
    <link rel="stylesheet" href="style/fonts.css">
</head>

<div class="sidebar">

    <div class="logo-container">
        <img src="img/join.logo-white.svg" alt="">
    </div>
    <div class="sidebar-text-area">
        <div class="sideBarCategory">
            <a id="summary" class="sidebar-text" href="./summery.html">
                <div class="sidebar-text-sub">
                    <img src="img/SummaryIcon.svg">
                    <spline class="fontSize16">Summary</spline>
                </div>
            </a>
        </div>
        <div class="sideBarCategory">
            <a class="sidebar-text" href="./addTask.html">
                <div class="sidebar-text-sub">
                    <img src="img/add.task.icons.svg">
                    <spline>Add Task</spline>
                </div>
            </a>
        </div>
        <div class="sideBarCategory">
            <a class="sidebar-text" href="./board.html">
                <div class="sidebar-text-sub">
                    <img src="img/board-icon.svg">
                    <spline>Board</spline>
                </div>
            </a>
        </div>
        <div class="sideBarCategory">
            <a class="sidebar-text" href="./contacts.html">
                <div class="sidebar-text-sub">
                    <img src="img/contacts-icon.svg">
                    <spline>Contacts</spline>
                </div>
            </a>
        </div>
    </div>
    <div class="quickLinksSidebar fontSize16">
        <a href="#" class="sidebar-bottom">Privacy Policy</a>
        <a href="./legalNozice.html" class="sidebar-bottom">Legal notice</a>
    </div>

</div>