header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    min-width: 200px;
    background-color: var(--main-color) !important;
}

.header {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    min-width: 200px;
    background-color: var(--main-color) !important;
}

.main-containe {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-text {
    width: 100%;
    padding-bottom: 20px;
    display: flex;
    padding-top: 20px;
}

.header-text:hover {
    background-color: var(--hover-color) !important;
}

.header-text-sub {
    padding-left: 49px;
}

.header-text a {
    color: var(--text-color);
    text-decoration: none;
}

.header-bottom a {
    color: var( --text-color);
    text-decoration: none;
}

.header-bottom:hover {
    background-color: var(--hover-color) !important;
}

.header-mobile {
    display: none;
    display: flex;
}

.header-mobile {
    display: none;
    background-color: var(--text-color);
}

#header-summary {
    display: flex;
    align-items: center;
    margin-bottom: 57px;
    justify-content: space-evenly;
}

.header-text-area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer {
    display: flex;
    height: 100%;
}

.footer-titel {
    display: flex;
    display: flex;
    align-items: center;
}

.police {
    display: flex;
    justify-content: center;
}

@media(max-width: 600px) {
    header {
        display: none;
    }
    #header-summary {
        margin-bottom: 0px;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: flex-start;
        margin-left: 9px;
        margin-top: 0;
    }
    .header-mobile-containe {
        flex: 1;
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: 0px;
        padding-top: 10px;
    }
    .header-mobile {
        display: flex;
        background-color: var(--main-color);
        width: 100%;
    }
    .header-text {
        padding-bottom: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 6px;
    }
    .header-text img {
        height: 20px;
    }
    .header-text-area {
        display: flex;
        justify-content: space-between;
        margin-right: 8px;
        margin-left: 10px;
        width: 100%;
        flex-direction: row;
        align-items: center;
    }
    .police {
        display: none;
    }
}